@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300&family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

@media only screen and (max-width: 600px) {

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100vw;
    height: 93px;
}

.cabecalho {
    overflow-y: hidden;
    background-color: #3aafa9;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 4;
}

.cabecalho2 {
    overflow-y: hidden;
    background-color: #6239B3;
    /*background: url('imagens/bg-cab.svg') no-repeat;*/
    background-position: center center;
    background-size: cover;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 4;
}

.logo {
    transform: scale(1.4);
    padding: 20px;
}

/***** DARK MODE DIA *****/
.dark-mode {background-color: #297e77;
    margin-top: 35px;
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 20px;
    background-position: center center;
    background-size: cover;
}

.img-dark {
    position: relative;
}

.mode {
    position: absolute;
    background-color: #3aafa9;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 2px;
    margin-bottom: 5px;
    box-shadow: 1px 3px 3px black;
}

/***** DARK MODE NOITE *****/
.dark-mode2 {background-color: #462980;
    margin-top: 35px;
    width: 50px;
    height: 25px;
    display: none;
    justify-content: right;
    align-items: center;
    border-radius: 20px;
    background-position: center center;
    background-size: cover;
}

.mode2 {
    position: absolute;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 2px;
    margin-bottom: 5px;
    margin-right: 3px;
    box-shadow: 1px 3px 3px black;
    display: none;
}

.icone-menu {
    font-size: 40px;
    padding: 20px;
    color: white;
}

.x {
    font-size: 40px;
    padding: 20px;
    color: white;
    display: none;
}

.menu {
    background-color: #3aafa9;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    transform: translateX(-100%);
    transition: 0.3s ease-in;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 4px;
    font-weight: bold;
}

.menu li {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    list-style: none;
}

.menu ul {
    margin-top: 30px;
}

ul a {
    text-decoration: none;
}

/**** ATIVAR MENU ****/
.menu2 {
    background-color: #3aafa9;
    box-shadow: 0 7px 15px black;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s ease-in;
    z-index: 5;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 4px;
    font-weight: bold;
}

.menu2 ul {
    margin-top: 30px;
}

.menu2 li {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    list-style: none;
}

.menu2 li:hover {
    background-color: #297e77;
}

/***** SESSÃO 1 *****/
.sessao1 {
    height: 100vh;
}

.whatsapp-img {
    transform: scale(0.25);
    
    
}

.whatsapp {
    position: fixed;
    top: 380px;
    right: -60px;
}

.banner{
    width: 100vw;
    height: 350px;
    overflow-y: hidden;
    background-color: cadetblue;
}

.banner2{
    width: 100vw;
    height: 350px;
    overflow-y: hidden;
    background-color: #462980;
}

.banner h1 {
    color: white;
    font-weight: bold;
    padding: 10px;
    font-weight: lighter;
    letter-spacing: 6px;
    font-size: 20px;
    z-index: 3;
    background-color: #297e77;
}

.banner2 h1 {
    color: white;
    font-weight: bold;
    padding: 10px;
    font-weight: lighter;
    letter-spacing: 6px;
    font-size: 20px;
    z-index: 3;
    background-color: #8C52FF;
}

.h11 {
    position: relative;
    display: flex;
    justify-content: center;
    top: 250px;
}

.banner p, .banner2 p {
    font-size: 11px;
    color: white;
    font-family: 'Manrope', sans-serif;
    padding: 10px;
    border-radius: 10px  10px 10px 0;
    letter-spacing: 5px;
}

.pp {
    display: flex;
    justify-content: left;
    padding: 0 10px;
    position: relative;
    top: 75px;
    z-index: 3;
}

.e {
    
}

.bola {
    width: 250px;
    height: 250px;
    background-color: #3aafa9;
    border-radius: 250px 0 0 250px;
}

.banner2 .bola {
    width: 250px;
    height: 250px;
    background-color: #8C52FF;
    border-radius: 250px 0 0 250px;
}

.bola2 {
    display: flex;
    justify-content: right;
    position: relative;
    z-index: 0;
}

.foto {
    position: relative;
    top: -230px;
    display: flex;
    justify-content: right;
    transform: scale(2);
    
}

.foto2 {
    position: relative;
    top: -230px;
    display: flex;
    justify-content: right;
    transform: scale(2);
    filter: brightness(75%);
    display: none;
}

h2.especialidades {
    font-size: 21px;
    color: #3aafa9;
    text-align: left;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 10px;
}

h2.especialidades2 {
    font-size: 21px;
    color: white;
    text-align: left;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.lorem {
    font-size: 17px;
    padding: 0 40px;
    margin-bottom: 15px;
    text-align: left;
    font-family: 'Jost', sans-serif;
}

.btn {
    background-color: #3aafa9;
    border: 0;
    border-radius: 3px;
    margin-left: 40px;
    padding: 15px;
    color: white;
    font-size: 15px;
}

/***** SESSÃO 2 *****/
.sessao2 {
    background-color: #3aafa9;
    width: 100vw;
    height: 100vh;
}

/***** SESSÃO 3 *****/
.sessao3 {
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    background: black;
}

.auri-titulo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    letter-spacing: 7px;
}


.cabeca {
    position: relative;
    transform: scale(1);
    left: 50px;
    
}

.out-cabeca {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.orelha {
    position: absolute;
    z-index: 1;
    transform: scale(0.28);
    top: 1470px;
    left: 77px;
    filter: hue-rotate(215deg);
}

.orelha:hover {
    transition-duration: 0.3s;
    transform: scale(1);
    filter: none;
}

}