@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300&family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@media only screen and (max-width: 600px) {

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 93px;
}

.cabecalho {
    background-color: #3aafa9;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 4;
}



.logo {
    transform: scale(1.4);
    padding: 20px;
}

.icone-menu {
    font-size: 40px;
    padding: 20px;
    color: white;
}

.x {
    font-size: 40px;
    padding: 20px;
    color: white;
    display: none;
}

.menu {
    background-color: #3aafa9;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    transform: translateX(-100%);
    transition: 0.3s ease-in;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 4px;
    font-weight: bold;
}

.menu li {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    list-style: none;
}

.menu ul {
    margin-top: 30px;
}

/**** ATIVAR MENU ****/
.menu2 {
    background-color: #3aafa9;
    box-shadow: 0 7px 15px black;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s ease-in;
    z-index: 5;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 4px;
    font-weight: bold;
}

.menu2 ul {
    margin-top: 30px;
}

.menu2 li {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    list-style: none;
}

.menu2 li:hover {
    background-color: #297e77;
}

/***** SESSÃO 1 *****/
.sessao1 {
    height: 100vh;
}

.banner{
    width: 100vw;
    height: 350px;
    overflow-y: hidden;
    background-color: cadetblue
}

.banner h1 {
    color: white;
    font-weight: bold;
    padding: 10px;
    font-weight: lighter;
    letter-spacing: 6px;
    font-size: 20px;
    z-index: 3;
    background-color: #297e77;
}

.h11 {
    position: relative;
    display: flex;
    justify-content: center;
    top: 250px;
}

.banner p {
    font-size: 11px;
    color: white;
    font-family: 'Manrope', sans-serif;
    padding: 10px;
    border-radius: 10px  10px 10px 0;
    letter-spacing: 5px;
}

.pp {
    display: flex;
    justify-content: left;
    padding: 0 10px;
    position: relative;
    top: 75px;
    z-index: 3;
}

.e {
    
}

.bola {
    width: 250px;
    height: 250px;
    background-color: #3aafa9;
    border-radius: 250px 0 0 250px;
}

.bola2 {
    display: flex;
    justify-content: right;
    position: relative;
    z-index: 0;
}

.foto {
    position: relative;
    top: -230px;
    display: flex;
    justify-content: right;
    transform: scale(2);
}

h2.especialidades {
    font-size: 21px;
    color: #3aafa9;
    text-align: left;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.lorem {
    font-size: 20px;
    padding: 0 40px;
    margin-bottom: 10px;
    text-align: left;
    font-family: 'Dancing Script', cursive;
}

.btn {
    background-color: #3aafa9;
    border: 0;
    border-radius: 3px;
    margin-left: 40px;
    padding: 15px;
    color: white;
    font-size: 15px;
}

/***** SESSÃO 2 *****/
.sessao2 {
    background-color: #3aafa9;
    width: 100vw;
    height: 100vh;
}

/***** SESSÃO 3 *****/
.sessao3 {
    width: 100vw;
    height: 100vh;
}

.roxo {
    width: 100vw;
    height: 200px;
    background-color: rgb(70, 9, 70);
}

.setas {
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: -120px;
    color: white;
}

.setas p {
    padding: 90px;
}

.psi {
    background-color: aqua;
    width: auto;
    height: 200px;
    display: flex;
    justify-content: center;
    display: none; /** Alteração **/
}

.background {
    width: 100vw;
    height: 300px;
}

.qualidade {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

}