@charset "UTF-8";

@media only screen and (max-width: 600px) {

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100vw;
    height: 93px;
}

.cabecalho {
    background-color: #3aafa9;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
}



.logo {
    padding: 20px;
}

.icone-menu {
    font-size: 40px;
    padding: 20px;
    color: white;
}

.x {
    font-size: 40px;
    padding: 20px;
    color: white;
    display: none;
}

.menu {
    background-color: #3aafa9;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    transform: translateX(-100%);
    transition: 0.3s ease-in;
}

.menu li {
    padding: 15px;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu ul {
    margin-top: 30px;
}

/**** ATIVAR MENU ****/
.menu2 {
    background-color: #3aafa9;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s ease-in;
}

.menu2 ul {
    margin-top: 30px;
}

.menu2 li {
    padding: 15px;
    list-style: none;
}

.menu2 li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu2 li:hover {
    background-color: #297e77;
}

/***** SESSÃO 1 *****/
.sessao1 {
    top: 100px;
}

h2.marque {
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

.lorem {
    font-size: 20px;
    padding: 0 40px;
    text-align: center;
}
}